<nav class="navbar bg-body-tertiary shadow">
  <div class="container-fluid row">
    <div class="d-flex col-3">
      <a class="navbar-brand" href="/"><svg xmlns="http://www.w3.org/2000/svg" style="color: blue;" width="35" height="35" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
      </svg></a>
    <form class="d-flex" role="search">
      <div class="input-group ">
        <span class="input-group-text rounded-start-pill border-0" style="background-color: gainsboro;"><i class="bi bi-search"></i></span>
        <input class="form-control rounded-end-pill border-0" type="search" placeholder="ค้นหาบน Facebook" aria-label="Search" style="background-color: gainsboro;">
      </div>
    </form>
    </div>
    <div class="d-flex col-7 justify-content-center">
      <a class="me-5 pe-4" href="/"><i class="bi bi-house-fill fs-4"></i></a>
      <a class="mx-5 pe-4" href="#"><i class="bi bi-flag fs-4"></i></a>
      <a class="mx-5 pe-4" href="#"><i class="bi bi-people fs-4"></i></a>
      <a class="mx-5 pe-4" href="#"><i class="bi bi-controller fs-4"></i></a>
    </div>
    <div class="d-flex col-2 justify-content-end ">
      <a class="me-2 rounded-circle bg-body-secondary" href="#"><i class="bi bi-grid-3x3-gap-fill fs-4 mx-2"></i></a>
      <a class="me-2 rounded-circle bg-body-secondary" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-messenger fs-4 mx-2"></i></a>
      <a class="me-2 rounded-circle bg-body-secondary" href="#"><i class="bi bi-bell-fill fs-4 mx-2"></i></a>
      <a href="#" class="me-2 link-dark text-decoration-none">
        <img src="https://github.com/mdo.png" alt="" width="35" height="35" class="rounded-circle me-2">
      </a>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel"><img src="https://github.com/mdo.png" alt="" width="35" height="35" class="rounded-circle me-2">
        <strong>Alex Novana</strong></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p class="d-flex justify-content-center">{{dateT | date:'medium'}}</p>
      <img src="https://github.com/mdo.png" alt="" width="35" height="35" class="rounded-circle me-2"><strong  class="border rounded-end px-2">hi</strong>
      <br>
      <h6 class="d-flex justify-content-end"><strong class="border rounded-start px-2">hi</strong></h6>
      <h6 class="d-flex justify-content-end"><strong class="border rounded-start px-2">How are you?</strong></h6>
      <img src="https://github.com/mdo.png" alt="" width="35" height="35" class="rounded-circle me-2"><strong  class="border rounded-end px-2">I'm good</strong><br>
      <strong  class="border rounded-end px-2 ms-5">And you?</strong><br>
      <strong  class="border rounded-end px-2 ms-5">What about your girlfriend?</strong><br>
      <strong  class="border rounded-end px-2 ms-5">I saw her post that she injured</strong><br>
      <div></div>
      <h6 class="d-flex justify-content-end"><strong class="border rounded-start px-2 mt-2">Oh, about that</strong></h6>
      <h6 class="d-flex justify-content-end"><strong class="border rounded-start px-2">she slipped and fell</strong></h6>
      <h6 class="d-flex justify-content-end"><strong class="border rounded-start px-2">but she's better now</strong></h6>
      <img src="https://github.com/mdo.png" alt="" width="35" height="35" class="rounded-circle me-2"><strong  class="border rounded-end px-2">ho, good</strong><br>
      <strong  class="border rounded-end px-2 ms-5">can you play a game with me?</strong><br>
      <h6 class="d-flex justify-content-end"><strong class="border rounded-start px-2"></strong></h6>
    </div>
    <div class="offcanvas-footer d-flex justify-content-between mx-2 mb-2">
      <textarea type="text" class="form-control bg-light rounded-start" name="chat" placeholder="text.."
      aria-label="Comment" aria-describedby="button-addon2" ></textarea>
    <button class="btn btn-outline-secondary w-4" type="button" id="button-addon3"><i
        class="bi bi-send"></i></button>
    </div>
  </div>
</nav>
