
<div class="row align-items-start mt-4">
  <div class="col-3">
    <div class="card" style="width: 10rem; height: 15rem;">
      <img src=".." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example </p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 10rem; height: 15rem;">
      <img src=".." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example </p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 10rem; height: 15rem;">
      <img src=".." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example </p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 10rem; height: 15rem;">
      <img src=".." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example </p>
      </div>
    </div>
  </div>
</div>

