<div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
  <h6 class="text-body-secondary"><strong>ได้รับการสนับสนุน</strong></h6>
  <div>
    <div class="card mb-3 overflow-auto bg-light link-none" style="max-width: 540px; max-height: 180px;">
      <a class="row g-0 link-none" href="https://placekitten.com">
        <div class="col-md-4 object-fit-contain">
          <img src="https://placekitten.com/200/300" class="img-fluid" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </a>
    </div>
    <div class="card mb-3 overflow-auto bg-light link-none" style="max-width: 540px; max-height: 180px;">
      <div class="row g-0 link-none" href="https://placekitten.com">
        <div class="col-md-4">
          <img src="https://placekitten.com/200/300" class="img-fluid" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <h6 class="text-body-secondary text-start"><strong>คำขอเป็นเพื่อน</strong></h6>
    <span class="text-end">
      <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover pb-2"
        href="#">
        ดูทั้งหมด
      </a>
    </span>
  </div>
  <div class="card mb-3 border border-0 bg-light">
    <div class="card-body">
      <div class="d-flex row">
        <div class="col px-0">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none">
            <img src="https://github.com/mdo.png" alt="" width="40" height="40" class="rounded-circle me-2">
            <strong>Momosaki Canatamai</strong>
            <span class="badge text-primary ms-4 text-end">
              3 วัน
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-record-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10"></path>
              </svg>
            </span>
          </a>

          <span class="text-body-secondary ms-5" style="font-size: 15px;"><img src="https://github.com/mdo.png" alt=""
              width="20" height="20" class="rounded-circle me-2">มีเพื่อนร่วมกัน 12 คน</span>
        </div>
        <div class="row justify-content-between mt-2">
          <div class="col-6">
            <button type="button" class="btn btn-primary w-100% px-5">ยืนยัน</button>

          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary w-100% px-5">ลบ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h6 class="text-body-secondary text-start"><strong>วันเกิด</strong></h6>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link link-dark" aria-current="page">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gift-fill"
          viewBox="0 0 16 16">
          <path
            d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A3 3 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43zM9 3h2.932l.023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9z" />
        </svg>
        วันนี้เป็นวันเกิดของ <strong>อเล็กซ์ ซานเดอร์</strong> และ <strong>คนอื่นๆ อีก 3 คน</strong>
      </a>
    </li>
  </ul>
  <hr>
  <div class="d-flex justify-content-between">
    <h6 class="text-body-secondary text-start"><strong>เพื่อน</strong></h6>
    <a class=" text-end text-body-secondary">
      <i class="bi bi-search"></i><i class="bi bi-three-dots-vertical ms-4"></i>
    </a>
  </div>
  <ul class="nav nav-pills flex-column mb-auto ps-3">
    <li class="nav-item mb-3" *ngFor="let n of names">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none ">
        <img [src]="n.imgUrl" alt="" width="35" height="35" class="rounded-circle me-2">
        <strong>{{n.name}}</strong>
      </a>
    </li>
  </ul>
  <hr>
  <div class="d-flex justify-content-between">
    <h6 class="text-body-secondary text-start"><strong>สร้างกลุ่ม</strong></h6>
    <a class=" text-end text-body-secondary">
      <i class="bi bi-three-dots-vertical"></i>
    </a>
  </div>
  <a href="#" class="nav-link link-dark" aria-current="page">
    <i class="bi bi-plus-circle ms-4"></i>
    สร้างกลุ่มใหม่
  </a>
</div>
