<app-navbar></app-navbar>
<div class="bg-light ">
  <div class="container-fluid text-start ">
    <div class="row row-cols-3">
      <div class="col-lg-3 justify-start  overflow-auto" style="max-height: 100vh;">
        <app-sidetapleft></app-sidetapleft>
      </div>
      <div class="col-lg-6">
        <div class="container text-center">
          <div class="row g-3">
            <div class="col-12">
              <app-storys></app-storys>
            </div>
            <div class="col-12">
              <app-post></app-post>
            </div>
            <div class="col-12">
              <app-feeds></app-feeds>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-3 justify-end overflow-auto" style="max-height: 100vh;">
        <app-sidetapright></app-sidetapright>
      </div>
    </div>
  </div>
</div>
